$font-family-sans-serif:  "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Crimson Text", Georgia, "Times New Roman", Times, serif !default;

$font-size-base:          16px !default;

$line-height-base:        2 !default; // 32/16

$headings-font-family:    $font-family-serif !default;
