$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container-fluid {
  padding-top: 4em;
  padding-bottom: 4em;
}





/*------------------------------------*\
    #SECTION-TAGS
\*------------------------------------*/

.section-tag {
  text-align: center;

  // TODO: Correct class names
  & > span {
    display: block;
  }

  >:nth-child(1) {
    font-style: italic;
    font-family: $font-family-serif;
  }

  >:nth-child(2) {
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }

}

.section-tag--dark {
  color: #333;
}

.section-tag--light {
  color: #fffefe;
}





/*------------------------------------*\
    #SOCIAL-LINKS
\*------------------------------------*/

.social-links {
  & a {
    cursor: pointer;
    margin: 0 0.3em;
  }
}





/*------------------------------------*\
    #FOOTNOTE-STATS
\*------------------------------------*/

.footnote-stats {
  margin-top: 3em;
}

.footnote-stats__single {
  float: left;
  margin-left: 2em;
}

.footnote-stats__count {
  font-family: $font-family-serif;
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
  text-align: center;

  &--bucketlist {
    color: #666;
  }
}

.footnote-stats__label {
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  &--bucketlist {
    color: #999;
  }
}





/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header-wrapper {
  // height: 70em;
  height: 100vh;
  background-image: url(../images/header-bg.jpg);
  background-position: 50% 50%;
  background-repeat: repeat-x;
  background-size: cover;
}

.header {
  height: 95%;
}

.header__logo {
  width: 100%;
}





/*------------------------------------*\
    #EDITORIAL
\*------------------------------------*/

.editorial__header {
  h3 {
    margin-bottom: 2em;
  }
}

.editorial__content {
  p {
    margin-bottom: 2em;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.editorial__social-links {
  margin-top: 2em;
  & a {
    color: #cccccc;
  }
}

  .editorial__social-links {
    & a:hover, & a:active   {
        color: #999999;
      }
  }





/*------------------------------------*\
    #INSTAGRAM
\*------------------------------------*/

.instagram-wrapper {
  padding: 0;
  background: rgba(0, 0, 0, 0.7);
}

  .instagram {
    margin: 0;
    padding: 0;
    text-align: center;
  }

    .instagram__link-container {
      list-style-type: none;
      float: left;
      width: 50%;
      cursor: pointer;

      @media screen and (min-width: $screen-xs-min) {
        width: 33.33333%
      }

      @media screen and (min-width: $screen-sm-min) {
        width: 20%;
      }

      @media screen and (min-width: $screen-md-min) {
        width: 16.66666%;
      }

      @media screen and (min-width: $screen-lg-min) {
        width: 12.5%;
      }

      &:hover .instagram__curtain {
        opacity: 1;
        background: rgba(0, 0, 0, 0.3);
        transition: all .1s linear .2s;
      }

      &:hover .instagram__image {
        filter: blur(1em);
        transform: scale(1.1);
      }
    }

        .instagram__figure {
          position: relative;
          overflow: hidden;
        }

          .instagram__image {
            display: block;
            height: auto;
            width: 100%;
            transition: all .3s linear;
          }

            .instagram__curtain {
              opacity: 0;
              position: absolute;
              top:0;
              right: 0;
              bottom: 0;
              left: 0;
              display: table;
              color: #ccc;
              width: 100%;
              height: 100%;
              z-index: 0;
              transition: all .4s linear;
            }

              .instagram__link {
                display: table-cell;
                position: relative;
                vertical-align: middle;
              }

                .instagram__button {
                  font-family: $font-family-serif;
                  border: 0.2em solid;
                  font-style: italic;
                  padding: 0.5em 0.8em;

                  & > .fa-instagram {
                    margin-right: 0.6em;
                  }
                }





/*------------------------------------*\
    #QUOTE
\*------------------------------------*/

.quote-wrapper {
  background: #242728;
  color: #fff;
}

.quote__divider {
  margin: 2em auto;
  width: 50px;
  height: 5px;
  background-color: #fff;
  opacity: 0.2;
}

.quote__section-tag {
  & span {
    display: inline !important;
  }
}





/*------------------------------------*\
    #WORKING
\*------------------------------------*/

.working__stuff {
  margin-top: 2em;
  display: block;
}

.working__task {
  // border: 1px solid rgba(88, 89, 103, 0.2);
  position: relative;
  // width: 30%;                      // TODO: Correct width for all breakpoints
  // margin-right: 2%;
  margin-bottom: 3em;

  // &:last-child {
  //   margin-right: 0;
  // }

  @media screen and (min-width: $screen-xs) and (max-width: $screen-sm-min) {
    width: 60%;
    margin: 0 auto 3em;
  }
}

.working__task__image {
  margin-top: 1em;
  margin-bottom: 1em;

  // TODO: Correct class names
  & > img {
    width: 100%;
  }
}

.working__task__title {
  clear: both;
}

.working__task__info {
  @media screen and (min-width: $screen-sm-min) {
    min-height: 10em;
  }
  @media screen and (min-width: $screen-lg-min) {
    min-height: 8em;
  }
}

.working__task__cta {
  background: #dfdfdf;
  line-height: 3em;
  color: #999;
  text-decoration: none;

  padding: 0.8em 1.4em;


  &:focus, &:link, &:hover, &:active {
    text-decoration: none;
    color: #666 !important;         // TODO:  Fix `a:focus` specificity problem,
                                    //        in order to drop `!important`.
  }
}





/*------------------------------------*\
    #BIO
\*------------------------------------*/

.bio-wrapper {
  padding-top: 0;
  padding-bottom: 0;
  background-image: url(../images/bio-bg.png);
  background-position: 50% 50%;
  background-repeat: repeat-x;
  background-size: cover;
}

.bio__basics {
  height: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
}

.bio__section-tag {
  text-align: left;
}

.bio__title {
  color: #fff;
}

.bio__social-links {
  margin-top: 2em;
  & a {
    color: #fff;
  }

  & a:hover, & a:active   {
    color: #999999;
  }
}


.bio__details {
  padding: 5em 3em;
  color: #9ea8b2;
  background: rgba(32, 41, 53, 0.95);
}
// TODO: Check for background blur
// http://lea.verou.me/more-css-secrets/#intro





/*------------------------------------*\
    #JOURNEY
\*------------------------------------*/
.journey-wrapper {
  background: #e6ecf0;
}

.journey__milestone__line {

}





/*------------------------------------*\
    #BUCKETLIST
\*------------------------------------*/

.bucketlist-wrapper {
  height: 45em;
  background-image: url(../images/bucketlist-bg.jpg);
  background-position: 50% 50%;
  background-repeat: repeat-x;
  background-size: cover;
}


.bucketlist__list {
  margin-top: 5em;
}

.bucketlist__task {
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
  color: #fff;

  & > p {
    margin: 0;
    padding: 0.5em 0 0 4em;
  }
}

.bucketlist__progress {
  width: 3em;
  height: 3em;
}

.bucketlist__progress--complete {
  background: rgba(24, 160, 88, 0.50);

  // TODO: Correct class names
  & > .fa {
    padding: 1em;
  }
}

.bucketlist__progress--incomplete {
  background: rgba(0, 0, 0, 0.25);

  // TODO: Correct class names
  & > .fa {
    padding: 1.1em;
  }
}


/*------------------------------------*\
    #CONTACT
\*------------------------------------*/
.contact-wrapper {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #fff;
  background: rgba(255, 255, 255, .05);
  // background: rgba(0, 0, 0, .7);
}

.contact__section-tag {
  // TODO: Correct class names
  & > span {
    display: inline;
  }

  >:nth-child(2) {
    font-size: 0.6em;
  }
}

.contact__mail {
  color: #666666;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: none;
    color: #fff;
  }
}

.contact__social-links {
  margin-top: .1em;
  & a {
    color: #666;
  }

  & a:hover, & a:active   {
    color: #999;
  }
}


