$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container-fluid {
  padding-top: 4em;
  padding-bottom: 4em;
}

/* Section tags */
.section-tag {
  text-align: center;

  & span {
    display: block;
  }

  >:nth-child(1) {
    font-style: italic;
    font-family: $font-family-serif;
  }

  >:nth-child(2) {
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }

}

.section-tag__dark {
  color: #333;
}

.section-tag__bright {
  color: #fffefe;
}

/* Header section */
.header-wrapper {
  height: 70em;
  background-image: url(../images/header-bg.jpg);
  background-position: 50% 50%;
  background-repeat: repeat-x;
  background-size: cover;
}

.header {
  height: 90%;
}

.header--logo {
  width: 100%;
}

/* Editorial section */
.editorial-wrapper {
}

.editorial--header {
  h3 {
    margin-bottom: 2em;
  }
}

.editorial--content {
  p {
    margin-bottom: 2em;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.editorial--social-links {
  margin-top: 2em;
  & a {
    margin: 0 0.3em;
    color: #cccccc;
  }
}

.editorial--social-links {
  & a:hover, & a:active   {
      color: #999999;
      cursor: pointer;
    }
}

/* Quote section */
.quote-wrapper {
  background: #242728;
  color: #fff;
}

.quote--divider {
  margin: 2em auto;
  width: 50px;
  height: 5px;
  background-color: #fff;
  opacity: 0.2;
}

.quote--section-tag {
  & span {
    display: inline !important;
  }
}

/* Working section */
.working--stuff {
  margin-top: 2em;
}

.working--task {
  border: 1px solid rgba(88, 89, 103, 0.2);
  position: relative;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 5%;

  &:last-child {
    margin-right: 0;
  }
}

.working--task--image {
  margin-top: 1em;
  margin-bottom: 1em;
  & > img {
    width: 100%;
  }
}

.working--task--title {
  clear: both;
}

.working--task--info {
  height: 30%;
}

.working--task--cta {
  background: #dfdfdf;

  & > a {
    line-height: 3em;
    display: block;
    color: #999999;
    text-decoration: none;
  }
}

/* Bio section */
.bio--detailed {
  color: #9ea8b2;
  background: #202935;
}

/* Journey section */
.journey-wrapper {
  background: #e6ecf0;
}

/* Bucketlist section */
.bucketlist-wrapper {
  background: #000;
}
